
<div class="col-md-4">
    <ul class="list-group">
        <li ng-repeat="category in categories.items"
            class="list-group-item">
            <span  ui-sref="items({categoryShortName: category.short_name})"
                   class="menu-link">
            {{category.name}}
            </span>
            <button ui-sref="categories.detail({categoryId: category.id})"
                    class="btn btn-info pull-right">More Details</button>
        </li>
    </ul>
</div>

<div class="col-md-6">
    <ui-view></ui-view>
</div>
