h1 {
  margin-bottom: 30px;
}

.menu-link {
  cursor:pointer;
}
.menu-link:hover {
  text-decoration:underline;
}

.loading-indicator {
  display: block;
  width: 70px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  z-index: 100;
  background-color: #FFF;
}

.loading-indicator img {
  width: 70px;
  background-color: #FFF;
}
